@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
  
}
*::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}

*::-webkit-scrollbar{
  width: 12px;
  background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb{
  border-radius: 50px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop( 0%, rgb(210, 46, 255, 1)),
                     color-stop(80%, rgb(43, 212, 255, 1)),
                     color-stop(100%, rgb(27, 226, 255, 1)));
}
  /* loading page */

  .loader{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 99;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.loading {
    --cell-size: 52px;
    --cell-spacing: 1px;
    --cells: 3;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
  }
  .cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 4px;
    animation: 1.5s ripple ease infinite;
  }
  .cell.d-1 {
    animation-delay: 100ms;
  }
  .cell.d-2 {
    animation-delay: 200ms;
  }
  .cell.d-3 {
    animation-delay: 300ms;
  }
  .cell.d-4 {
    animation-delay: 400ms;
  }
  .cell:nth-child(1) {
    --cell-color: #00FF87;
  }
  .cell:nth-child(2) {
    --cell-color: #0CFD95;
  }
  .cell:nth-child(3) {
    --cell-color: #17FBA2;
  }
  .cell:nth-child(4) {
    --cell-color: #23F9B2;
  }
  .cell:nth-child(5) {
    --cell-color: #30F7C3;
  }
  .cell:nth-child(6) {
    --cell-color: #3DF5D4;
  }
  .cell:nth-child(7) {
    --cell-color: #45F4DE;
  }
  .cell:nth-child(8) {
    --cell-color: #53F1F0;
  }
  .cell:nth-child(9) {
    --cell-color: #60EFFF;
  }
  
  /*Animation*/
  @keyframes ripple {
    0% {
      background-color: transparent;
    }
    30% {
      background-color: var(--cell-color);
    }
    60% {
      background-color: transparent;
    }
    100% {
      background-color: transparent;
    }
  }

  /* loading page */
a{
  color: inherit;
}
main {
    margin-top: 134px;
    margin-left: 5.1%;
}
h1 {
    height: auto;
    width: auto;
    color: var(--Gray900, #111827);
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.18px;
}
h3 {
    color: var(--Gray500, #6B7280);
    height: auto;
    width: auto;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.12px;
}
.spe{
    margin-top: 60px;
}
h2 {
    color: var(--Gray900, #111827);
    height: auto;
    width: auto;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0.12px;
}
.owl-buttons {
  position: absolute;
  top: 50%;
  width: 97%;
  display: flex;
  z-index: 10;
  justify-content: space-between;
  left: .8%;
}
.owl-pagination{
  display: none;
}
.fa-chevron-left,
.fa-chevron-right{
  border-radius: 50%;
  opacity: .4;
  width: 30px;
  height: 35px;
  cursor: pointer;
}
.slider {
  width: 98%;
  height: 611px;
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  margin-left: 32px;
}
.scroll::-webkit-scrollbar {
  visibility: hidden;
}
.courses {
  width: 98%;
  overflow-x: hidden;
  position: relative;
  margin: 1% 0;
}
.box:hover {
  box-shadow: 2px 10px 10px rgba(175, 171, 171, 0.25);
  transition: all 500ms;
  transform: translateZ(1px);
}
.owl-item {
  width: 404px !important;

  height: auto;
  position: relative;
  left: 0;
  border-radius: 15px;
  background-color: #F9FBFF;
  margin: 30px 0;
  transition: 0.5s;
  margin-right: 50px;
}
.item>img {
  width: -webkit-fill-available;
  height: 266px;
  border-radius: 15px;
}
.box-con {
  margin-left: 24px;
}
.course-cat {
  width: 100px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-top: 35px;
  background: linear-gradient(120deg, rgba(210, 46, 255, 1) 0%, rgba(43, 212, 255, 1) 80%, rgba(27, 226, 255, 1) 100%);
  border-radius: 15px;
  text-align: center;
  color: #ffffff;
}
.course-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #010101;
  font-family: 'Poppins', sans-serif;
  margin-top: 9px;
}
.duration {
  margin-top: 14px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}
.rate {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin-top: 15px;
}
.rate>span {
  font-weight: 400;
}
.stars {
  display: inline;
  margin-right: 20px;
}
.enroll {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.enroll>button {
  width: 50%;
  height: 50px;
  border-radius: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: 'Poppins', sans-serif;
  background-color: #0F4ABD;
  border: 0;
}
.enroll>button:hover {
  background: linear-gradient(120deg, rgba(210, 46, 255, 1) 0%, rgba(43, 212, 255, 1) 80%, rgba(27, 226, 255, 1) 100%);
  transition: all 500ms;
  cursor: pointer;

}
.dn{
  display: none;
}
.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 50%;
}
del{
  text-decoration-color: red;
      font-size: 16px;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
} 
.active{
  transform: translateY(0);
  opacity: 1;
}

@media (max-width:700px) {
    .owl-buttons{
        display: none;
    }
}

@media (max-width:500px) {
    .slider{
        margin-left: 0;
    }
    .owl-item {
      width: 340px !important;
      margin-right: 22px;
      margin-left: 12px;
  }
    }

    @media (max-width:380px) {
        h1 {
            font-size: 20px;
        }
        h3 {
            font-size: 16px;
        }
    }